<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 <context:component-scan base-package="org.example"/>

  <bean id="classA"
            class="hs.hs.Aclass">
          <constructor-arg type="java.lang.String" value="Israa"/>
      </bean>

  <bean id="classB"
            class="hs.hs.Bclass">
          <constructor-arg type="hs.hs.Aclass" ref="classA" />
      </bean>

  <bean id="classC"
            class="hs.hs.Cclass">
          <constructor-arg type="hs.hs.Bclass" ref="classB" />
      </bean> 
</beans>